<!-- 
	@require "../static/footer.css"
	@require "../static/footer.js"
-->
<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-footer col-xs-3">
				<h3>关于xxx</h3>
				<ul>
					<li>
						<a href="#">公司介绍</a>
					</li>
					<li>
						<a href="#">新闻公告</a>
					</li>
					<li>
						<a href="#" target="_blank">安全保障</a>
					</li>
				</ul>
			</div>
			<div class="col-footer col-xs-3">
				<h3>投资指南</h3>
				<ul>
					<li>
						<a href="#"  target="_blank">新手指南</a>
					</li>
					<li>
						<a href="#">常见问题</a>
					</li>
				</ul>
			</div>

			<div class="col-footer col-xs-4">
				<h3>客服热线</h3>
				<p>
					<h4> 
						<strong><i class="glyphicon glyphicon-earphone"></i>
							0000-000-000</strong> 
					</h4>
					<h5>
						&nbsp;&nbsp;&nbsp;&nbsp;（ 9:00 ～ 18:00 ）
					</h5>
				</p>
			</div>
			<div class="col-footer col-xs-2">
				<h3>关注我们</h3>
				<div class="attention-us">
					<a href="#" target="_blank" class="weibo"></a>
					<a href="#" class="wechat" id="wechat_tooltip"></a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="footer-link">
					<p><span>友情链接：</span> 
					<a href="http://www.wangdaizhijia.com" target="_blank" rel="nofollow">网贷之家</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.p2peye.com" target="_blank" rel="nofollow">网贷天眼</a>
					<!--<%if(locals.linkage){%>
						<%for(var i = 0 ; i<linkage.length; i++){%>
							<a href="<%=linkage[i].url%>"><%=linkage[i].title%></a>
						<%}%> 
					<%}%>-->
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="footer-copyright">
					<ul>
						<li><a href="http://www.miitbeian.gov.cn"  target="_blank"><i class="cr_1"></i></a></li>
						<li><a href="javascript:void(0)"><i class="cr_2"></i></a></li>
						<li><a href="javascript:void(0)"><i class="cr_3"></i></a></li>
					</ul>
					<p>&copy; xxxxxxxxxxxx有限公司 版权所有. <a href="#"  target="_blank">粤xxxxxxxx备 xxxxxxxx号</a></p>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="g-toolbar">
    <ul class="g-toolbar-nav">
    	<!-- 20160329抽奖 -->
    	<!-- <li class="toolbar-item">
        	<a target="_blank" href="" class="qq">
            <div class="item-tip-c ">
                <div class="item-box">
                     <div class="item-tip">立即去抽奖</div>
                </div>
            </div>
            <u class="u-qq"></u>
            </a>
        </li> -->
        <li class="toolbar-item">
        	<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3219885812&site=qq&menu=yes" class="qq">
            <div class="item-tip-c item-tip-kefu">
                <div class="item-box">
                     <div class="item-tip">在线客服<br>9:00~20:00</div>
                </div>
            </div>
            <u class="u-qq"></u>
            </a>
        </li>
        <li class="toolbar-item">
            <div class="item-tip-c item-tip-app">
                <div class="item-box">
                    <img src="../static/image/servercode.jpg" alt="扫码下载APP" width="105" height="105">
                    <div class="item-tip">扫码关注微信</div>
                </div>
            </div>
            <u class="u-weixin"></u>
        </li>
        <li class="toolbar-item">
            <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=9282c8eca70dded38999d60812fb62e91b4d4ae02cb5442948b97175a0d5721c" class="qqq">
                <div class="item-tip-c item-tip-back">
                    <div class="item-box">
                        <div class="item-tip">一键加群</div>
                    </div>
                </div>
                <u class="u-qqq"></u>
            </a>
        </li>
        <li id="back" class="toolbar-item">
        	<a id="back2top" href="#">
            <div class="item-tip-c item-tip-back">
                <div class="item-box">
                    <div class="item-tip">返回顶部</div>
                </div>
            </div>
            <u class="u-top"></u>
            </a>
        </li>
    </ul>
</div>
