<!-- 
	@require "../static/navbar.css"
 -->
<div class="main-nav">
	<div class="nav_items">
		<ul>
			<li>
				<a href="/product/jpb">金票宝</a>
			</li>
			<li>
				<a href="/product/ypb">
					银票宝
					<img src="http://cnt.ppmoney.com/v4.0/img/glob/hot.gif">
				</a>
			</li>
			<li>
				<a href="/product/spb">商票宝</a>
			</li>
			<li>
				<a href="/product/rpb">融票宝</a>
			</li>
			<li>
				<a href="/activity">活动专区</a>
			</li>
			<li>
				<a href="/doc/xszn" target="_blank">新手指南</a>
			</li>
			<li>
				<a href="/doc/aqbz" target="_blank">安全保障</a>
			</li>
			<li>
				<a href="/doc/wypj">我有票据</a>
			</li>
			<!-- <li>
				<a href="http://v1.epb360.com" target="_blank">1.0入口</a>
			</li> -->
			<li>
				<a href="/index/app" target="_blank">app下载</a>
			</li>
		</ul>
		<!-- <div class="banner-box">
			sdf
		</div> -->
	</div>
</div>